<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Danh sách nhân viên</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container" style="margin-top: 10px;">
		<p style="float: right; font-size: 16px">
			<label th:text="${session.USERNAME}"></label> <a href="/logout">Đăng xuất</a>
		</p>

		<h2 class="text-center">DANH SÁCH NHÂN VIÊN</h2>
		<p>
			<a class="btn btn-success" href="/goHome"><span class="glyphicon glyphicon-home"></span> Trang chủ</a>
			<a class="btn btn-primary" href="/staffs/"><span class="glyphicon glyphicon-user"></span> Thêm nhân viên</a>
		</p>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Ảnh</th>
					<th>Mã nhân viên</th>
					<th>Tên nhân viên</th>
					<th>Ngày sinh</th>
					<th>Số điện thoại</th>
					<th>Phòng ban</th>
					<th>Chức vụ</th>
					<th>Giới tính</th>
					<th>Hoạt động</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${LIST_STAFF}">
					<td width="100"><img alt=""
						th:src="@{'/getimage/' + ${item.photo}}" width="80" height="80"></td>
					<td th:text="${item.id}"></td>
					<td th:text="${item.name}"></td>
					<td th:text="${item.birthday}"></td>
					<td th:text="${item.phone}"></td>
					<td th:text="${item.depart.name}"></td>
					<td th:text="${item.role.name}"></td>
					<td><span th:text="${item.gender} ? 'Nam' : 'Nu'"></span></td>
					<td><a class="btn btn-primary btn-sm"
						th:href="@{'/staffs/edit/' + ${item.id}}">Sửa</a> | <a
						class="btn btn-danger btn-sm"
						th:href="@{'/staffs/delete/' + ${item.id}}">Xóa</a></td>
				</tr>

			</tbody>
		</table>

	</div>
</body>
</html>
